*{
  max-width: 1000px;
  margin: auto;
}

body{
  background-color: #fee3ad;
  color: black;
}

.header{
  text-align: center;
}
.header h1{
  background-color: blue;
  color: black;
}

.header h2{
  background-color: red;
  color: blue;
  margin-top: 15px;
}

#new {
  border: 3px dashed black;
  padding: 10px;
  margin-top: 15px;

}

#pra{
  border: 5px solid blue;
  margin-top: 15px;
  padding: 15px;
}

img{
  width: 300px;
  float: left;
  margin-right:800px;
  margin-top: 20px;

}
h2{
  text-align: center;
  background-color: green;
  margin-top: 15px;
}

h3{
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 15px;

}
ul li{
  color: black;
  text-align: center;
}

footer{
  text-align: center;
  color: red;
  margin-top: 30px;

}
